{% extends 'base.html' %}

{% block content %}
<div class="container">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-6">
          <div class="card" style="margin-top: 20px;">
            <div class="card-body">
              <p class="card-text">{{ message }}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" style="margin-top: 40px;">
            <div class="card-body">
              <a href="{{ url_for('index') }}" class="btn btn-primary  d-block mb-2">Zurück zur Hauptseite</a>
            </div>
          </div>
        </div>
      </div>
</body>
</html>

</div>
{% endblock content %}